* {
  box-sizing: border-box;
}

body {
  background-color: #293241;
  color: #e0fbfc;
  margin: 0;
  display: grid;
  grid-template-rows: 60px auto 60px;
  height: 100vh;
}

h1 {
  text-align: center;
  border: 1px solid #ee6c4d;
  margin: 0;
  padding: 1.25rem;
  text-transform: uppercase;
}

/* UTILITY */

.mx-1rem {
  margin: 0 1rem;
}

/* COMPONENTS*/

/* QUESTION CARDS*/

.card {
  border: 1px solid #ee6c4d;
  padding: 0.5rem;
}

.card + .card {
  margin-top: 1rem;
}

.questions {
  width: 90%;
  margin: 1rem auto;
  overflow-y: auto;
}

.question {
  text-align: justify;
}

.button {
  display: block;
  margin: 1rem auto 0.5rem;
  padding: 0.5rem 1.5rem;
  background-color: #3d5a80;
  color: #e0fbfc;
  border-radius: 5px;
}

.button:hover {
  background-color: #e0fbfc;
  color: #293241;
}

.tagList {
  display: flex;
  justify-content: center;
  padding: 0;
  list-style: none;
}

.tagList > li {
  display: flex;
  align-self: center;
  border: 1px solid #e0fbfc;
  width: auto;
  margin: 0 0.45rem;
  padding: 0 0.5rem;
  border-radius: 30px;
}

/* NAVIGATION */

nav {
  display: flex;
  justify-content: center;
  align-items: stretch;
  border: 1px solid #ee6c4d;
  height: 4rem;
}

.navigation {
  display: flex;
  justify-content: space-evenly;
  align-items: stretch;
  padding: 0;
  margin: 0;
  width: 100%;
}

.nav-item {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ee6c4d;
  width: 25%;
}

.nav-itemActive {
  background-color: #e0fbfc;
  color: #293241;
}

.nav-item > a {
  color: inherit;
  text-decoration: none;
}

/* CREATING FORM */

.submitForm {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 30rem;
}

label {
  font-size: 1.25rem;
}

.submitForm > div {
  display: flex;
  flex-direction: column;
  height: 25%;
}

/* PROFILE */

.profile {
  width: 90%;
  margin: 1rem auto;
}

.profile-PictureName {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.profile-name {
  display: inline-block;
  font-size: 1.5rem;
}

.card-image {
  width: 50%;
  border-radius: 50%;
  display: inline-block;
}

.profile > h2 {
  margin: 2rem 0 0;
}

.profile > p {
  margin-top: 0;
  text-align: justify;
}

.buttonLogout {
  padding: 1rem 2rem;
  margin-top: 2rem;
}
