/* UTILITY SELECTORS */
.color-inherit {
  color: inherit;
}

.hidden {
  display: none;
}

.mx-1rem {
  margin: 0 1rem;
}

.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
